@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'NFS';
    src: url('/src/fonts/NFS.ttf');
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

.header {
    /* background-color: black; */
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(15,57,84,1) 50%, rgba(0,0,0,1) 100%);
    color: rgb(210, 210, 210);
    text-align: center;
}

.header .titulo {
    font-family: 'NFS';
    padding: 50px;
    font-variant: small-caps;
    font-size: 9vh;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 1.5vw;
    font-family: "Economica", sans-serif;
    font-weight: 700;
    display: flex;
}

.normal {
    background-color: white;
    color: black;
    justify-content: flex-end;
    padding-right: 30px;
}

.imagem {
    background-color: rgb(52, 52, 52);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.394);
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}

.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#img01 {
    background-image: url('/src/imagens/Ferrari.jpg');
    /* background-position: right center; */
}

#img02 {
    background-image: url('/src/imagens/SLS.png');
    background-position: center center;
}

#img03 {
    background-image: url('/src/imagens/Rival-2.png');
    background-position: left center;
}
